@{
    ViewBag.Title = "Login";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/plugins/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Generador</b>MKT</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body" style="height: 300px">
                <p class="login-box-msg">Ingrese sus datos para iniciar sesión</p>

                <form action="" method="post">
                    <div class="input-group mb-5">
                        <input type="text" class="form-control" placeholder="Usuario" id="userLogin">
                        <div class="input-group-append">
                            <div class="input-group-text">
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-5">
                        <input type="password" class="form-control" placeholder="Password" id="passwordLogin">
                        <div class="input-group-append">
                            <div class="input-group-text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" id="btnLogin" class="btn btn-primary btn-block" href="@Url.Action("Single", "Generator")">Ingresar</button>
                        </div>
                    </div>
                </form>
                <br/>
                <p class="mb-5">
                    <a href="@Url.Action("ChangePass", "Login")">Cambiar/Actualizar Password?</a>
                </p>
            </div>
        </div>
    </div>
    <script src="~/Scripts/plugins/jquery/jquery.min.js"></script>
    <script src="~/Scripts/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/dist/js/adminlte.min.js"></script>
</body>
</html>